<script lang="ts">
  import FullMap from "./assets/map.png";
  import Character from "./components/Character.svelte";
</script>

<main class="h-[100vh]" style={`background-image: url(${FullMap})`}>
  <Character />
</main>
